/* Cascading stylesheet for the website */

/* Text inside these asterisks and slashes are comments for human */

  a {
    /* set the text color to blue here */
    text-decoration: none;
    color:black;
    font-size: medium; /* This means we do not want hyperlinks to be underlined */
    font-size: 25px;
  }

  a:hover {
    /* set the text color to red here */
    text-decoration: none;
    color: red;
    font-size: medium; /* This means we do not want hyperlinks to be underlined */
    font-size: 25px;
  }

  body {
    background-color:beige;/* set the background color here */
    color: rebeccapurple;
    text-align: center;
    font-size: x-large;
   }

  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    font-family:cursive;
   }

  h2 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
    color: blue;
    text-align: center;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
